<h1 class="page-header">{{title}}</h1>
<div class="list-group">
  <a ng-repeat="item in subjects" href="#" class="list-group-item">
  	<span class="badge">{{item.rating.average}}</span>
    <div class="media">
		  <div class="media-left">
		      <img class="media-object" ng-src="{{item.images.small}}" alt="item.title">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">{{item.title}}</h4>
				<p>导演 ： <span ng-repeat="d in item.directors">{{d.name}}{{$last?"、":""}}</span></p>
				<p>类型 ： <span>{{item.genres.join("、")}}</span></p>
		  </div>
		</div>
  </a>
</div>
<div class="mask" ng-show="loading">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
